*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 90%;
  margin: 30px auto;
}

.side-image {
  width: 30%;
  border: 2px solid #fff;
  border-radius: 50%;
}

.repo-language-color {
  background-color: #e34c26;
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.repo-container {
  border-bottom: 2px solid #c4c4c4;
  padding: 10px;
  margin: 20px;
}
.repo-container div {
  display: inline-block;
}

.repo-section-header {
  padding: 20px;
}
.repo-section-header input {
  width: 50%;
  padding: 10px;
  border: 2px solid #c4c4c4;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.repo-section-header input:focus {
  outline: none;
}

.repo-section-header select {
  margin: 5px;
  padding: 5px;
}
.repo-list {
  list-style: none;
}
.repo-achnor {
  text-decoration: none;
  color: #0466d6;
}

.repo-detail {
  text-align: left;
  width: 80%;
}

.user-star-input {
  width: 20%;
}

.repo-badges {
  display: inline-block;
  margin-right: 10px;
}

svg:not(:root) {
  overflow: hidden;
}
.octicon {
  vertical-align: text-bottom;
}
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}
.star-btn {
  padding: 5px;
}
.user-star-input {
  vertical-align: top;
}

/* tab scetion */
.tabs {
  max-width: 90%;
  float: none;
  list-style: none;
  padding: 0;
  margin: 75px auto;
  border-bottom: 4px solid #ccc;
}
.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs label {
  display: block;
  float: left;
  width: 20%;
  color: #ccc;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
}
.tabs label span {
  display: none;
}
.tabs label i {
  padding: 5px;
  margin-right: 0;
}
.tabs label:hover {
  color: #121212;
  border-bottom: 2px solid #121212;
}
.tab-content {
  display: none;
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.tabs [id^="tab"]:checked + label {
  color: #121212;
  background: #fff;
  border-bottom: 2px solid #121212;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
  display: block;
}
.tabs label span {
  display: inline-block;
}

.tab-svg {
  margin-right: 5px;
}

button {
  padding: 5px;
}
.user-detail {
  text-align: left;
  float: right;
}
.user-detail p {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .tabs i {
    padding: 5px;
    margin-right: 10px;
  }

  .tabs {
    max-width: 950px;
    margin: 50px auto;
  }
  .side-section {
    width: 20%;
    margin-top: 100px;
    float: left;
  }

  .main-section {
    width: 80%;
    display: inline-block;
  }

  .side-image {
    width: 60%;
    float: left;
  }
}
